body {
    font-family: Arial, sans-serif;
  }
  .container {
    width: 80%;
    margin: 40px auto;
    background: linear-gradient(to top,red,rgb(255, 255, 93));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  #bill-container {
    margin-top: 20px;
  }
  
  .button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
 
    